/*-----------------------------------HUNGER ISSUE-----------------------------------------------*/

/*---------------------MOBILE VERSION--------------------------*/

.stories h4 {
  background: #354463;
  width: 160px;
  height: 40px;
  position: relative;
  top: 36px;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
}

.stories img {
  width: 312px;
  height: 312px;
  object-fit: cover;
  display: block;
  margin: 14px auto 32px auto;
}

.stories .help {
  background: #354463;
  width: 312px;
  height: 320px;
  display: block;
  margin: auto;
}

.stories .help p {
  color: #ffffff;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 28px;
  font-size: 22px;
  width: 260px;
  height: 203px;
  padding-top: 29px;
}

.stories .help h5 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}

.stories .read-more {
  background: #c1f7d5;
  width: 156px;
  height: 40px;
  border-radius: 100px;
  display: block;
  margin: 32px auto 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories .read-more a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
/*-------------------- */

.carousel-cell {
  width: 100%;
}

.carousel-cell::before {
  display: block;
}

/*---------------------TAB VERSION--------------------------*/

@media screen and (min-width: 768px) {
  .stories h4 {
    margin: 0;
    position: relative;
    top: 47px;
    left: 128px;
  }

  .stories img {
    width: 576px;
    height: 568px;
    margin-left: 64px;
    margin-top: 24px;
  }

  .stories .help {
    width: 576px;
    height: 287px;
    margin-left: 128px;
    position: relative;
    top: -93px;
  }

  .stories .help p {
    text-align: left;
    width: 450px;
    height: 106px;
    padding-top: 61px;
    margin-left: 64px;
  }

  .stories .help h5 {
    font-size: 14px;
    text-align: left;
    margin-top: 110px;
    margin-left: 64px;
  }

  .stories .read-more {
    margin-top: -60px;
    margin-left: 128px;
  }
}

/*---------------------DESKTOP VERSION--------------------------*/

@media screen and (min-width: 1024px) {
  .stories {
    width: 1024px;
    /* width: 1120px; */
    display: block;
    margin: auto;
    margin-bottom: 80px;
  }

  .stories h4 {
    margin: 0;
    position: relative;
    top: 110px;
    left: 544px;
    z-index: 1;
  }

  .stories img {
    width: 500px;
    height: 460px;
    margin: 0;
    position: relative;
    left: 500px;
    margin-top: 90px;
  }

  .stories .help {
    width: 450px;
    height: 300px;
    margin-left: 80px;
    margin-top: -280px;
  }

  .stories .help p {
    width: 350px;
    height: 196px;
    font-size: 22px;
    line-height: 36px;
    padding-top: 52px;
    margin-left: 64px;
  }

  .stories .help h5 {
    margin-top: 30px;
    margin-left: 64px;
  }

  .stories .read-more {
    margin-top: -60px;
    margin-left: 80px;
  }
}
